# @file requirements.txt
# @description Requisitos para o projeto  python-smartbudget-api
# Contém as dependências necessárias para o desenvolvimento e testes do projeto.
# == Dependências base —> cada serviço tem seu próprio requirements.txt
#
# @author Tina de Almeida
# @date Junho 2026
# @version 1.0

pytest==8.3.0
pytest-asyncio==0.24.0
pytest-cov==5.0.0
httpx==0.27.0

# @file fim do arquivo requirements.txt
